GLFW_ICON ICON "splander.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "Sam&Mahan"
      VALUE "FileDescription", "Splander | A simple game xploring steamworks library"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "splander"
      VALUE "LegalCopyright", "(c) 2024 Sam&Mahan"
      //VALUE "OriginalFilename", "splander.exe"
      VALUE "Splander", "Splander"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
